<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>dst</display-name>
 	<context-param>
     <param-name>primefaces.THEME</param-name>
     <param-value>peakcoin</param-value>
	</context-param>  
  <context-param>
    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
    <param-value>.xhtml</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.FACELETS_BUFFER_SIZE</param-name>
    <param-value>1024</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>server</param-value>
  </context-param>
  <context-param>
    <param-name>primefaces.UPLOADER</param-name>
    <param-value>auto</param-value>
  </context-param>
  <context-param>
    <param-name>primefaces.FONT_AWESOME</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <context-param>
    <param-name>com.sun.faces.developmentMode</param-name>
    <param-value>true</param-value>
  </context-param>
  <filter>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>org.infosystema.peakcoin.filter.SecurityFilter</filter-class>
    <init-param>
      <param-name>public</param-name>
      <param-value>/faces_resources.*|/facade.*|/view/user/login.xhtml.*|/view/user/forgot_password.xhtml.*|/home.xhtml.*|/view/home.xhtml.*|/index.jsp.*|/view/user/login_ds.xhtml.*|/view/user/blocked.xhtml|/view/public/.*</param-value>
    </init-param>
    <init-param>
      <param-name>logged</param-name>
      <param-value>/view/main.xhtml.*|/jasper.*|/view/claim/.*|/view/license/.*|/view/user/.*|/download.*|/view/profile/.*|/view/country/.*|/view/orders/.*|/view/hiking/.*|/view/tours/.*|/view/events/.*|/view/journey/.*|/view/company/.*|/view/carpark/.*|/view/transport/.*|/view/driver/.*</param-value>
    </init-param>
    <init-param>
      <param-name>admin</param-name>
      <param-value>/view/dictionary/.*|/view/company/.*</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.infosystema.peakcoin.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>*.xhtml</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CDI Conversation Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
    <multipart-config>
      <max-file-size>20848820</max-file-size>
      <max-request-size>418018841</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>javax.enterprise.context.NonexistentConversationException</exception-type>
    <location>/view/main.xhtml?nocid=true</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/view/main.xhtml?nocid=true</location>
  </error-page>
  <mime-mapping>
    <extension>eot</extension>
    <mime-type>application/vnd.ms-fontobject</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>otf</extension>
    <mime-type>font/opentype</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>ttf</extension>
    <mime-type>application/x-font-ttf</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>woff</extension>
    <mime-type>application/x-font-woff</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>svg</extension>
    <mime-type>image/svg+xml</mime-type>
  </mime-mapping>
</web-app>